<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        div{
            padding: 5px 5px;
        }
    </style>
</head>
<body>
    <h1>Welcome</h1>
    <div>
        <a href="/auth/register">register</a>

    </div>
    <div>
        <a href="/auth/login">login</a>
    </div>
    <div>
        <a href="/user">users</a>
    </div>
</body>
</html>